:root {
  --dark0: #2E3440;
  --dark1: #3B4252;
  --dark2: #434C5E;
  --dark3: #4C566A;
  --light0: #D8DEE9;
  --light1: #E5E9F0;
  --light2: #ECEFF4;
  --focus: #3854FC;
  --red: #BF616A;
  --orange: #D08770;
  --yellow: #EBCB8B;
  --green: #A3BE8C;
  --blue: #5E81AC;
  --indigo: #B48EAD;

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--focus);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark2);
  color: var(--light0);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--focus);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light0);
    background-color: var(--dark0);
  }

  .bg-light {
    background-color: var(--dark0) !important;
  }

  a {
    color: var(--light0);
  }

  a:hover {
    color: var(--light2);
  }

  button {
    background-color: var(--dark3);
    color: var(--light0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light0);
    background-color: var(--dark0);
  }

  .bg-light {
    background-color: var(--dark0) !important;
  }

  a {
    color: var(--light0);
  }

  a:hover {
    color: var(--light2);
  }

  button {
    background-color: var(--dark3);
    color: var(--light0);
  }
}
